html {height: 100%;}
body {
  height: 100%;

  #main-app{
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .header{
    flex: 0 1 auto;
  }

  .container{
    flex: 1 1 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

button{
  border: none;
}

label{
  margin-top: 0;
}

table{
  
  th,td{
    vertical-align: middle!important;
  }
  td{
    input:hover{
      border: 1px solid #343a40!important;
      transition: 1s;
    }
  }
  button{
    &.btn-table{
      padding: 0.5rem 1.25rem;
    }
  }
}

.txt-center{
  text-align: center;
}
.bold{
  font-weight: bold;
}

// .btn-primary {
//   background-color: #232127!important;
//   border-color: 0!important;
// }

.btn-blue-outfitted{
  background-color: #232127;
  color: white;
}

.btn-hover{
  border: 3px solid #ffffff00;

  &:hover{
    background-color: white!important;
    border: 3px solid #232127!important;
    color: #232127!important;
    transition: 0.3s!important;
  }
}

// TRANSITION ANIMATION
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}